.dad-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 180px;
    height: 400px;
    margin: 5px;
    border-radius: 20px;
    border: solid 1px #cacaca;
}
.avatar-container{
    width: 80px;
    height: 80px;
}
.info-container{
    height: 40px;
}
.link-container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap:5px;
}
.a-container{
    border-radius: 10px;
    border: 1px solid rgb(211, 209, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
}
.a-container:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(255, 132, 0, 0.4);
}
.d-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    color: #f18203; 
    font-size: 12px;
}