.dad-container{
    margin: 10px;
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.son-container{
    width: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.carousel-container{
    width: 800px;
}
.ad-container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 400px;
    height: 400px;
}
.profile-container{
    width: 400px;
}