.layout-wrapper{
    margin: 10px;
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.content-inner{
    width: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.center-section{
    width: 800px;
}
.left-section{
    width: 350px;
    height: 400px;
    margin-right: 15px;
}
.right-section{
    width: 340px;
    display: flex;
    justify-content: center;
}
